@CHARSET "UTF-8";

html, body{
    padding: 0px;
    margin: 0px;
}

td {
	padding: 5px;
}

form td:first-child {
	text-align: right;
	vertical-align: top;
}

form td:last-child {
	text-align: right;
}

form label {
	top: 5px;
	position: relative;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	padding: 3px;
}

.imagesBlock img {
	margin: 5px 10px;
}

.errors {
	list-style: none;
	font-size: 11px;
	color: red;
}

table .dijitTextBox {
	border: 1px solid #BDC7D8;
}

form .dijitTextBoxFocused {
	outline: 0px;
}

form .dijitPlaceHolder {
	color: #777;
	font-size: 12px;
	font-style: normal;
	top: 2px;
}

table td,table th {
	padding: 5px;
	text-align: left;
}

table {
	border-collapse: collapse;
}

.mythingsTable tr {
	cursor: pointer;
}

.mythingsTable tr:hover {
	background: #bfbfbf;
}

.tradesFileUploader {
	width: auto !important;
	display: inline-block;
	cursor: pointer;
}

.tradesFileUploader input {
	cursor: pointer !important;
}

.tradesFileUploader:hover .dijitButtonText {
	text-decoration: underline;
}

.tradesFileUploader span {
	border: 0px !important;
	font-size: 12px;
	padding: 0px !important;
	background: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	color: #3E5787;
	cursor: pointer;
}

.imageContainer {
	position: relative;
	display: inline-block;
	text-align: center;
}

.deleteImage {
	background: url("../images/deleteX.png");
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0px;
	right: 0px;
	display: none;
}

.imageContainer:hover .deleteImage {
	display: inline-block;
}



.header {
	margin-top: 15px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
	padding: 5px;
	min-height: 60px;
	vertical-align: bottom;
	position: relative;
}

.sides{
	display:inline-block;
	width:45%;
	padding: 5px;
}

.sides table{
	width: 100%;
}

.sidesContainer{
	margin-top: 25px;
	position: relative;
}

.arrow{
	display: inline-block;
	width:10px;
	height:10px;
	background: url(../images/arrow.png);
	position:absolute;
	left:50px;
	top:81px;
}

.tooltip{
	visibility: hidden;
}

.imageContainer:hover .tooltip{
	visibility: visible;
}

.baloon{
	cursor:pointer;
	position:absolute;
	padding: 4px;
	top:90px;
	left:5px;
	background: #4d4d4d;
	opacity:0.84;
	border-radius:14px;
	color:#fff;
	font-size: 11px;
}

.mainImage{
	-moz-box-shadow: 2px 2px 2px #4955f5;
	-webkit-box-shadow: 2px 2px 2px #4955f5;
	box-shadow: 2px 2px 2px #4955f5;
}

.targetNodes{
	margin:3px;
	vertical-align: middle;
}

.dropPane{
	position: fixed;
	left: 0px;
	bottom:100px;
}



.thingsTable tr:hover{
	cursor:pointer;
}

.thingsTable thead tr:hover{
	cursor:default;
}

.formButton{
	float: right;
}

dl{
	display: inline-block;
	width: auto;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.dojoxUploaderFileListTable{
	display: none;
}

.accountForms{
	text-align:center;
	margin:50px auto;
        width: 265px;
	text-align:left;
	padding:10px;
	background:#fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
}

.menu a {
    padding: 5px;
}

.headerBlock, .mainMenu a{
    font: 13px/27px Arial,sans-serif;
    height: 30px;
    position: relative;
    color: #cccccc;
}


.userBlock{
    position: absolute;
    right: 0px;
    top:0px;
    height: 30px;
}

.userBlock li{
    display: inline-block;
    padding: 0px 4px;
    vertical-align: middle;
    border-left: 1px solid #B8B8B8;
    height: 30px;
    position: relative;
}

.userBlock ol>:first-child{
    border: 0px;
}   
.userBlock ol{
    margin: 0px;
    padding: 0px;
    height: 30px;
}

.settings{
    height: 19px !important;
    width: 18px;
    background: url(../images/settings.png);
    display: inline-block;
    padding: 0px !important;
    margin-top: 3px;
}

.button{
    border-radius:4px;
    border: 1px solid #bbbbbb;
    padding: 4px;
    color:#404040;
    font-size: 14px;
    text-align: center;
    min-width: 65px;
    cursor: pointer;
    margin: 0px 4px;
    display: inline-block;
    background: rgb(221,221,221); /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#efefef',GradientType=1 ); /* IE6-8 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(221,221,221,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
}

.loginFormContainer{
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-top: 0px;
    position: absolute;
    top:30px;
    right: -1px;
}

.loginFormContainer input[type="text"], .loginFormContainer input[type="password"]{
    width: 200px;
    height: 20px;
    font-size: 99%;
    background: #fff;
}

.activeUser{
    background: #fff;
    color:#000000;
}

.activeUser .loginFormContainer{
    display: block;
}

.mainMenu{
    padding-top: 3px;
}

.mainMenu a{
    height: auto;
    padding: 0px  5px 0px 10px;
    text-decoration: none;
}

.logoContainer{
    background-color: #F2F4F8;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}


.searchInput{
    border: 1px solid #BDBDBD;
    height: 30px;
    width: 500px;
    font-size: 99%;
    box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -moz-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
}

input[type="text"], input[type="password"]{
      border: 1px solid #BDBDBD;
    font-size: 99%;
    box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -moz-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
}

.searchForm{
    display: inline-block;
    margin: 0px 15px;
    vertical-align: middle;
}

.searchBlock, .mainContent{
    width: 981px;
    margin: 0px auto;
    padding: 10px 0px;
}

.mainContent{
    border-left: 1px solid #b1b4bf;
    border-right: 1px solid #b1b4bf;
    border-bottom: 1px solid #b1b4bf;
        box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
    -moz-box-shadow: inset 0px 1px 0px 0px #eaeaea, 0px 1px 0px 0px #f7f7f7;
}

.opacityBackground{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.headerBlock .opacityBackground{
    background-color: #2D2D2D;
}

.logo{
    display: inline-block;
    background: url("../images/websiteLogo.png");
    width: 150px;
    height: 74px;
    position: relative;
    vertical-align: middle;
    margin: 0px 10px;
    
}

.header .title{
    position: absolute;
    height: 42px;
    width: 390px;
    top:10px;
    left:180px;
}
.header .title span{
    text-transform: uppercase;
    font-size: 18px;
}

.header .user_block{
    width:500px;
    height: 42px;
    position:absolute;
    top:10px;
    left:560px;
}
.header .logged_block{
    width:200px;
    height: 42px;
}
.header .not_logged_block{
    width:500px;
    height: 42px;
}

.hidden_sumbit{
    position: absolute;
    top:-100px;
    width: 0;
    height: 0;
}
.content_title{
    width: 300px;
    margin: 0 auto;
}

.footer{
    padding:10px;
    margin-top: 15px;
    text-align: center;
}


.itemContainer{
    display: inline-block;
    padding: 5px;
    background: #fff;
    margin: 10px 10px;
    vertical-align: top;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.itemContainer:hover{
    background: #F2F4F8;
}

.itemContainer img{
    max-width: 80px;
}

.itemTitle{
    font-weight: bold;
}

.itemDesc{
    font-size: 13px;
    color: #bfbfbf;
}

.itemContainer p{
    margin: 2px;
}

.formDialog{
    text-align: center;
}

.formDialog form{
    display: inline-block;
}

.removeImg{
    width: 20px;
    height:20px;
    display: inline-block;
    background: #fff;
}

.categories{
    display: inline-block;
    padding: 5px;
    background: #fff;
    margin: 10px 10px;
    width: 300px;
    vertical-align: top;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
}