@CHARSET "UTF-8";

td {
	padding: 5px;
}

form td:first-child {
	text-align: right;
	vertical-align: top;
}

form td:last-child {
	text-align: right;
}

form label {
	top: 5px;
	position: relative;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	padding: 3px;
}

.imagesBlock img {
	margin: 5px 10px;
}

.errors {
	list-style: none;
	font-size: 11px;
	color: red;
}

table .dijitTextBox {
	border: 1px solid #BDC7D8;
}

form .dijitTextBoxFocused {
	outline: 0px;
}

form .dijitPlaceHolder {
	color: #777;
	font-size: 12px;
	font-style: normal;
	top: 2px;
}

table td,table th {
	padding: 5px;
	text-align: left;
}

table {
	border-collapse: collapse;
}

.mythingsTable tr {
	cursor: pointer;
}

.mythingsTable tr:hover {
	background: #bfbfbf;
}

.tradesFileUploader {
	width: auto !important;
	display: inline-block;
	cursor: pointer;
}

.tradesFileUploader input {
	cursor: pointer !important;
}

.tradesFileUploader:hover .dijitButtonText {
	text-decoration: underline;
}

.tradesFileUploader span {
	border: 0px !important;
	font-size: 12px;
	padding: 0px !important;
	background: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	color: #3E5787;
	cursor: pointer;
}

.imageContainer {
	position: relative;
	display: inline-block;
	text-align: center;
}

.deleteImage {
	background: url("../images/deleteX.png");
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0px;
	right: 0px;
	display: none;
}

.imageContainer:hover .deleteImage {
	display: inline-block;
}



.header {
	margin-top: 15px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
	padding: 5px;
	min-height: 60px;
	vertical-align: bottom;
	position: relative;
}

.sides{
	display:inline-block;
	width:45%;
	padding: 5px;
}

.sides table{
	width: 100%;
}

.sidesContainer{
	margin-top: 25px;
	position: relative;
}

.arrow{
	display: inline-block;
	width:10px;
	height:10px;
	background: url(../images/arrow.png);
	position:absolute;
	left:50px;
	top:81px;
}

.tooltip{
	visibility: hidden;
}

.imageContainer:hover .tooltip{
	visibility: visible;
}

.baloon{
	cursor:pointer;
	position:absolute;
	padding: 4px;
	top:90px;
	left:5px;
	background: #4d4d4d;
	opacity:0.84;
	border-radius:14px;
	color:#fff;
	font-size: 11px;
}

.mainImage{
	-moz-box-shadow: 2px 2px 2px #4955f5;
	-webkit-box-shadow: 2px 2px 2px #4955f5;
	box-shadow: 2px 2px 2px #4955f5;
}

.targetNodes{
	margin:3px;
	vertical-align: middle;
}

.dropPane{
	position: fixed;
	left: 0px;
	bottom:100px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

[draggable="false"]{
    cursor: default;
} 

.logoutBlock{
	float:right;
}

.logoutBlock span{
	font-size:14px;
	font-style:italic;
	padding: 0px 5px; 
}

.logoutBlock a{
	font-size:14px;
}

.thingsTable tr:hover{
	cursor:pointer;
}

.thingsTable thead tr:hover{
	cursor:default;
}

.formButton{
	float: right;
}

dl{
	display: inline-block;
	width: auto;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.dojoxUploaderFileListTable{
	display: none;
}

.notLoggedBody{
	background-image: url("../images/background.jpg");
	background-repeat: repeat;
}

.accountForms{
	text-align:center;
	margin-top:15%;
	text-align:left;
	padding:10px;
	background:#fff;
	display: inline-block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
}


.menu {
        height: 70px;
}

.menu a {
	padding: 5px;
}

.logo {
	background: url("../images/logo.png");
	width: 108px;
	height: 91px;
	position: absolute;
	top: -12px;
}

.header .title{
    position: absolute;
    height: 42px;
    width: 390px;
    top:10px;
    left:180px;
}
.header .title span{
    text-transform: uppercase;
    font-size: 18px;
}

.header .user_block{
    width:500px;
    height: 42px;
    position:absolute;
    top:10px;
    left:560px;
}
.header .logged_block{
    width:200px;
    height: 42px;
}
.header .not_logged_block{
    width:500px;
    height: 42px;
}

.content{
    min-height: 300px;
    border-radius:5px;
    background: #CCC;
    padding-top: 20px;
}
.hidden_sumbit{
    position: absolute;
    top:-100px;
    width: 0;
    height: 0;
}
.content_title{
    width: 300px;
    margin: 0 auto;
}

.footer{
    border: 3px solid #888;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 0 3px 3px #888;
    margin-top: 15px;
}
.footer a{
    color:#000;
}

.itemContainer{
    display: inline-block;
    padding: 5px;
    background: #fff;
    margin: 10px 10px;
    width: 300px;
    height: 110px;
    vertical-align: top;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.itemContainer img{
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
}

.itemTitle{
    font-weight: bold;
}

.itemDesc{
    font-size: 13px;
    color: #bfbfbf;
}

.itemContainer p{
    margin: 2px;
}

.formDialog{
    text-align: center;
}

.formDialog form{
    display: inline-block;
}